/* *::-webkit-scrollbar {
  display: none;
} */

/* menu color change on click */
#dashboard:checked~nav label[for="dashboard"]{
  background-color: rgb(17, 24, 39);
  color: white;
}
#flights:checked~nav label[for="flights"]{
  background-color: rgb(17, 24, 39);
  color: white;
}
#projects:checked~nav label[for="projects"]{
  background-color: rgb(17, 24, 39);
  color: white;
}
#calendar:checked~nav label[for="calendar"]{
  background-color: rgb(17, 24, 39);
  color: white;
}
#reports:checked~nav label[for="reports"]{
  background-color: rgb(17, 24, 39);
  color: white;
}


/* show screens on click */
#dashboard:checked~div #dashboard_card{
  display: block;
}
#flights:checked~div #flights_card{
  display: block;
}
#projects:checked~div #projects_card{
  display: block;
}
#calendar:checked~div #calendar_card{
  display: block;
}
#reports:checked~div #reports_card{
  display: block;
}


/* mobile menu animation */
.burger {
  filter: url(#gooeyness);
}

.x {
  transform: scale(0);
  transition: transform 400ms;
}

.line {
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}

.x .line {
  stroke-width: 5.5px;
}

.active .line {
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}

.plate .x {
  transition: transform 400ms;
}

.plate .line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}

.active.plate .line {
  transition: transform 400ms;
}

.active.plate .line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(0.7);
}

.active.plate .line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(0.7);
}

.active.plate .line3 {
  transform: translateY(0px) rotate(45deg) scale(0.7);
}

.active.plate .line4 {
  transform: translateY(0px) rotate(-45deg) scale(0.7);
}

.active.plate .line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(0.7);
}

.active.plate .line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(0.7);
}

.active.plate .x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}

/* graph animation */
.bar-chart rect:nth-of-type(1){
  animation: bunce1 1s ease;
}

@keyframes bunce1 {
  from{
    y: 500
  }
  to{
    y: 400
  }
}
.bar-chart rect:nth-of-type(2){
  animation: bunce2 1s ease;
}

@keyframes bunce2 {
  from{
    y: 500
  }
  to{
    y: 450
  }
}
.bar-chart rect:nth-of-type(3){
  animation: bunce3 1s ease;
}

@keyframes bunce3 {
  from{
    y: 500
  }
  to{
    y: 200
  }
}
.bar-chart rect:nth-of-type(4){
  animation: bunce4 1s ease;
}

@keyframes bunce4 {
  from{
    y: 500
  }
  to{
    y: 460
  }
}
.bar-chart rect:nth-of-type(5){
  animation: bunce5 1s ease;
}

@keyframes bunce5 {
  from{
    y: 500
  }
  to{
    y: 350
  }
}
.bar-chart rect:nth-of-type(6){
  animation: bunce6 1s ease;
}

@keyframes bunce6 {
  from{
    y: 500
  }
  to{
    y: 250
  }
}
.bar-chart rect:nth-of-type(7){
  animation: bunce7 1s ease;
}

@keyframes bunce7 {
  from{
    y: 500
  }
  to{
    y: 50
  }
}

.bar-chart path {
  stroke-dasharray: 1190;
  animation: dash 1s linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1190;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* trip type animation */
#oneway:checked~.trip_type_label label[for="oneway"]{
  color: white;
}
#roundtrip:checked~.trip_type_label label[for="roundtrip"]{
  color: white;
}
#oneway:checked~.trip_type_label div{
  width: 76px;
  left: 0;
}
#roundtrip:checked~.trip_type_label div{
  width: 90px;
  left: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
#roundtrip:checked~div #redatediv{
  display: block;
}


/* class type animation */
#econ_btn:checked~.class_type_label label[for="econ_btn"]{
  color: white;
}
#buss_btn:checked~.class_type_label label[for="buss_btn"]{
  color: white;
}
#fclass_btn:checked~.class_type_label label[for="fclass_btn"]{
  color: white;
}
#econ_btn:checked~.class_type_label div{
  width: 93px;
  left: 0;
}
#buss_btn:checked~.class_type_label div{
  width: 95px;
  left: calc(93px + 37.5px);
}
#fclass_btn:checked~.class_type_label div{
  width: 57px;
  left: 100%;
  transform: translateX(-100%);
}



/* js inserted form autocomplete DOMs  */
.autocomplete-items {
  border: 1px solid #333;
  border-bottom: none;
  border-top: none;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}


/* search flight nav */
#flight_form:checked ~ div{
  transform: translateX(0);
}
#flight_info:checked ~ div{
  transform: translateX(-25%);
  -webkit-transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  -o-transform: translateX(-25%);
}
#pay_info:checked ~ div{
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
#confirm_booking:checked ~ div{
  transform: translateX(-75%);
  -webkit-transform: translateX(-75%);
  -moz-transform: translateX(-75%);
  -ms-transform: translateX(-75%);
  -o-transform: translateX(-75%);
}