html::-webkit-scrollbar {
  display: none;
}


#dashboard:checked~nav label[for="dashboard"]{
  background-color: rgb(17, 24, 39);
  color: white;
}
#team:checked~nav label[for="team"]{
  background-color: rgb(17, 24, 39);
  color: white;
}
#projects:checked~nav label[for="projects"]{
  background-color: rgb(17, 24, 39);
  color: white;
}
#calendar:checked~nav label[for="calendar"]{
  background-color: rgb(17, 24, 39);
  color: white;
}
#reports:checked~nav label[for="reports"]{
  background-color: rgb(17, 24, 39);
  color: white;
}


#dashboard:checked~div #dashboard_card{
  display: block;
}
#team:checked~div #team_card{
  display: block;
}
#projects:checked~div #projects_card{
  display: block;
}
#calendar:checked~div #calendar_card{
  display: block;
}
#reports:checked~div #reports_card{
  display: block;
}



.burger {
  filter: url(#gooeyness);
}

.x {
  transform: scale(0);
  transition: transform 400ms;
}

.line {
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}

.x .line {
  stroke-width: 5.5px;
}

.active .line {
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}

/* Die vierte teller */
.plate .x {
  transition: transform 400ms;
}

.plate .line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}

.active.plate .line {
  transition: transform 400ms;
}

.active.plate .line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(0.7);
}

.active.plate .line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(0.7);
}

.active.plate .line3 {
  transform: translateY(0px) rotate(45deg) scale(0.7);
}

.active.plate .line4 {
  transform: translateY(0px) rotate(-45deg) scale(0.7);
}

.active.plate .line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(0.7);
}

.active.plate .line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(0.7);
}

.active.plate .x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}






.bar-chart rect:nth-of-type(1){
  animation: bunce1 1s ease;
}

@keyframes bunce1 {
  from{
    y: 500
  }
  to{
    y: 400
  }
}
.bar-chart rect:nth-of-type(2){
  animation: bunce2 1s ease;
}

@keyframes bunce2 {
  from{
    y: 500
  }
  to{
    y: 450
  }
}
.bar-chart rect:nth-of-type(3){
  animation: bunce3 1s ease;
}

@keyframes bunce3 {
  from{
    y: 500
  }
  to{
    y: 200
  }
}
.bar-chart rect:nth-of-type(4){
  animation: bunce4 1s ease;
}

@keyframes bunce4 {
  from{
    y: 500
  }
  to{
    y: 460
  }
}
.bar-chart rect:nth-of-type(5){
  animation: bunce5 1s ease;
}

@keyframes bunce5 {
  from{
    y: 500
  }
  to{
    y: 350
  }
}
.bar-chart rect:nth-of-type(6){
  animation: bunce6 1s ease;
}

@keyframes bunce6 {
  from{
    y: 500
  }
  to{
    y: 250
  }
}
.bar-chart rect:nth-of-type(7){
  animation: bunce7 1s ease;
}

@keyframes bunce7 {
  from{
    y: 500
  }
  to{
    y: 50
  }
}




.bar-chart path {
  stroke-dasharray: 1190;
  animation: dash 1s linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1190;
  }
  to {
    stroke-dashoffset: 0;
  }
}



.flow {
  animation: flow 0.3s ease;
}

@keyframes flow {
  from {
    transform: translateY(15vh);
  }

  to {
    transform: translateY(0);
  }
}