body {
  height: 100vh;
  display: grid;
  place-content: center;
  color: #6a6f8c;
  background: #516795;
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    linear-gradient(
      to bottom,
      rgba(57, 173, 219, 0.25) 0%,
      rgba(42, 60, 87, 0.4) 100%
    ),
    linear-gradient(135deg, #670d10 0%, #092756 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-wrap {
  width: 40vw;
  height: 65vh;
  min-width: 300px;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font: 600 16px/18px "Open Sans", sans-serif;
}

.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 12vh 5vw 7vh 5vw;
  background: rgba(40, 57, 101, 0.9);
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.3s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}

.login-html .tab {
  font-size: 20px;
  padding-bottom: 1vh;
  margin: 0 1vw 1vh 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #fff;
  border-color: #1161ee;
}

.login-form {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-form .group {
  margin-bottom: 2vh;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
}

.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 2vh 1.5vw;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}

.login-form .group .label {
  color: #aaa;
  font-size: 12px;
}

.login-form .group .button {
  background: #1161ee;
}

.login-form .group label .icon {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}

.login-form .group label .icon:before {
  content: "";
  width: 70%;
  height: 5px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: scale(0) translate(-50%, -50%) rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.login-form .group .check:checked + label .icon:before {
  transform: scale(1) translate(-50%, -50%) rotate(-45deg);
}

.login-form .group .check:checked + label {
  color: #fff;
}

.login-form .group .check:checked + label .icon {
  background: #1161ee;
}

.login-html .sign-in:checked ~ .login-form .sign-in-htm {
  transform: rotate(0);
}

.login-html .sign-up:checked ~ .login-form .sign-up-htm {
  transform: rotate(0);
}

.warn {
  display: none;
  margin-top: 5vh;
  padding: 5px;
  color: orangered;
  background-color: #092756;
  border: 1px solid #1161ee;
  border-radius: 15px;
  font-size: 1vw;
  text-align: center;
}
